/* colors */

.bg-white{
    background-color: #ffffff;
}

.bg-grey{
    background-color: #f6f8f9;
}

.btn-blue{
    background-color: #47adf1;
}

.btn-purple{
    background-color: #9c72e4;
}

.btn-darkGreen{
    background-color: #64c0a9;
}

.btn-orange{
    background-color: #f29e33;
}

.btn-magenta{
    background-color: #d863a1;
}

.btn-lightGreen{
    background-color: #b0c926;
}
.btn-white{
    background-color: white;
    border: 1px solid #c5cbd0;

}
.text-white{
    color: #ffffff;
}
.text-grey{
    color: #c5cbd0;
}



/* items */

/* generals */
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        
    
    .paragraphing{
        padding-top: 15px;

    }
   
    .padding-left{
        padding-left: 5vw;
    }
    }
/* end generals */
    /* header part */
    header{
        padding-left: 10px;
        font-size: 2em;
        display: flex;
        align-items: center;

    }

    #logo{
        background-size: cover;
        height:fit-content;
    }

    .header-title{
        display: inline-block;
        line-height: 100%;

    }

    /* main part */
    main{
        
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }
    /* hwere content is shown */
.box{
    border-radius: 15px;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 10px;
}
nav{
    border-bottom: 2px solid #f6f8f9;
    padding-bottom: 10px;

}

    /* buttons */
    button {


            border: none;
            color: white;
            padding: 3px 9px;
            text-align: center;
            line-height: 100%;
            font-size: 16px;

    }

    .nav-btn{
        height: 25px;
        border-radius: 5px;
    }

    .list-btn{
        height: 30px;
        border-radius: 10px;
    }

    /* lists */

    ul{
        padding:5px;
        list-style-type: none;
        margin-top: 0;
    }
    li{

        margin-bottom: 2vh;
    }
    h3{
        font-size: 1.4em;
        text-decoration: solid;
        font-weight: bolder;
        margin:0;
    }

    /* checkmark selector */
    .false{
        border-color: red;
        color:red
    }
    .true{
        border-color: green;
        color: green;
    }
    .checkmark{
        display: inline-block;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align:center;
        line-height: 25px;
        border: 1px solid;
    }

