/* colors */

.bg-white{
    background-color: #ffffff;
}

.bg-grey{
    background-color: #f6f8f9;
}

.btn-blue{
    background-color: #47adf1;
}

.btn-purple{
    background-color: #9c72e4;
}

.btn-darkGreen{
    background-color: #64c0a9;
}

.btn-orange{
    background-color: #f29e33;
}

.btn-magenta{
    background-color: #d863a1;
}

.btn-lightGreen{
    background-color: #b0c926;
}
.btn-white{
    background-color: white;
    border: 1px solid #c5cbd0;
    
}
.text-white{
    color: #ffffff;
}
.text-grey{
    color: #c5cbd0;
}

/* items */

*{
    margin:0;
    padding:0;
}

header{
    height: 60px;
    font-size: 2em;
    display: flex;
    align-items: center;
    
}

#logo{
    background-size: cover;
    height:fit-content;
}

.header-title{
    display: inline-block;
    line-height: 100%;

}

main{
    padding:15vh;
}
nav{
    border-bottom: 2px solid #f6f8f9;
    padding-bottom: 4vh;
    
}


button {
    
        
        border: none;
        color: white;
        padding: 3px 9px; 
        text-align: center;
        line-height: 100%;
        font-size: 16px;
      
}

.nav-btn{
    height: 25px;
    border-radius: 5px;
}

.list-btn{
    height: 30px;
    border-radius: 10px;
}

.box{
    border-radius: 15px;
    
    margin: 0 10vw;
    
    padding-top: 10vh;
    
}

ul{
    padding:5px;
    list-style-type: none;
    margin-top: 0;
}
li{
    
    margin-bottom: 2vh;
}
h3{
    font-size: 1.4em;
    text-decoration: solid;
    font-weight: bolder;
    margin:0;
}
.paragraphing{
    padding-top: 5vh;
   
}
.false{
    border-color: red;
    color:red
}
.true{
    border-color: green;
    color: green;
}
.checkmark{
    height: 1em;
    width: 1em;
    border: 2px solid ;
    border-radius: 50%;
}


.padding-left{
    padding-left: 5vw;
}